echo "streamlit" > requirements.txt
echo "PyPDF2" >> requirements.txt
echo "langchain" >> requirements.txt
echo "tenacity" >> requirements.txt
echo "langchain_google_genai" >> requirements.txt
echo "langchain_groq" >> requirements.txt
